[submodule "libamdsmi"]
	path = libamdsmi
	url = https://github.com/ROCm/amdsmi.git
    branch = amd-mainline
[submodule "libgimsmi"]
	path = libgimsmi
	url = git@github.com:amd/MxGPU-Virtualization.git
	branch = release/9.1.x.K-rc
